.hidden{
    display: none;
}

.SongPageBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.MainGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
}

#counter{
    margin-top: 2rem;
}

.right{
    background-color: green;
}

.wrong{
    background-color: red;
}